.type {
  margin-top: 30px;
}

.more {
  width: calc(100% - 276px);
  min-width: 216px;
  border-bottom: 1px solid #666;
  margin-right: 50px;
}
.more-detail {
  width: 216px;
  border-bottom: 1px solid #666;
}
.contain-right {
  width: 226px;
}

.container-mid {
  width: calc(100% - 216px);
}

.wrap-title {
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 400;
  height: 24px;
  line-height: 25px;
  overflow: hidden;
  padding-bottom: 4px;

  a {
    color: #3f5a93;
    font: 12px / 1 Arail, PingFangSC-Regular, -apple-system, Simsun;
    margin-left: 5px;
  }
}
